body {
	background-color: #222222;
	color: #eeeeee;
	margin: 16px;
}

nav, #task-actions, form {
	display: flex;
	row-gap: 0.8rem;
	column-gap: 4ch;
	flex-wrap: wrap;
}

label {
	display: flex;
	gap: 2ch;
	row-gap: 0.2rem;
	flex-wrap: wrap;
}

input[type="text"] {
	width: 100%;
	max-width: 20ch;
}

.routine-picker {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-items: start;
	align-items: center;
	grid-row-gap: 1.8ch;
	> li {
		display: contents;
	}
}

.active-task {
	display: none;
}

.routine label {
	display: contents;
}

.routine {
	list-style: none;
}

.routine li {
	padding-block: 10px;
}

.routine li label {
}

.routine li label h2 {
	display: inline;
}

.task {
}

.task:has(:checked) {
	outline: solid;
	outline-width: 6px;
	background-color: #222244;
}

#task-actions {
	position: sticky;
	top: 0;
	background-color: #222222;
}

body > * {
	padding: 6px;
}

#task-actions button {
	padding-block: 1rem;
	font-size: 1.5rem;
}
