body {
	background-color: #222222;
	color: #eeeeee;
	margin: 16px;
}

/* TODO remove. This is for breathing room when prototyping. */
body > * {
	padding: 6px;
}

nav, #task-actions, form {
	display: flex;
	row-gap: 0.8rem;
	column-gap: 4ch;
	flex-wrap: wrap;
}

label {
	display: flex;
	gap: 2ch;
	row-gap: 0.2rem;
	flex-wrap: wrap;
}

input[type="text"] {
	width: 100%;
	max-width: 20ch;
}

.routine-picker {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-items: start;
	align-items: center;
	grid-row-gap: 1.8ch;
	> li {
		display: contents;
	}
}


.routine {
	list-style: none;

	label {
		display: contents;
	}

	li {
		padding-block: 10px;
	}

	h2 {
		display: inline;
	}

	.task {
		&:has(:checked) {
			outline: solid;
			outline-width: 6px;
			background-color: #222244;
		}
	}

	/* Radio button to select active task */
	.active-task {
		display: none;
	}
}

#task-actions {
	position: sticky;
	top: 0;
	background-color: #222222;
}

	button {
		padding-block: 1rem;
		font-size: 1.5rem;
	}
}
