body {
	background-color: #222222;
	color: #eeeeee;
}

.active-task {
	display: none;
}

.routine {
	list-style: none;
	padding: 0;
}

.routine li {
	padding-block: 10px;
}

.routine li label {
}

.routine li label h2 {
	display: inline;
}

.task {
}

.task:has(:checked) {
	outline: solid;
	outline-width: 6px;
	background-color: #222244;
}

#task-actions {
	position: sticky;
	top: 0;
}
